words.vector.gz.6wi58fzk.tmp
words.vector.gz.r7kt84l1.tmp
words.vector.gz.vqvb0rcf.tmp
words.vector.gz.yymuplop.tmp
words.vector
xqb_die_merge_1000to100_for_augument.txt
train_augmented_numaug4_alpha005.txt
xqb_die_merge_20lines_for_augument.txt

\code\*
\code\__pycache__\*